<head>
<link rel="stylesheet" href="./css/newsletter.css"/>
<script src="./js/emailSubscription.js"></script>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

</head>
<section class="bg-img text-center">
    <div class="container">
      <h2>
        <strong>Subscribe</strong>
      </h2>
        
      <h6 class="font-alt">Get news from us to your inbox</h6>
      <br><br>
      <form class="form-subscribe" id="newsletterForm" >
        <div class="input-group">
          <input type="email" id="email" class="form-control input-lg" placeholder="Your email address" required>
          <span class="input-group-btn">
            <button class="btn btn-success btn-lg" type="submit" >Subscribe</button>
          </span>
        </div>
      </form>
    </div>
  </section>
