<!--navbar-->
<% include partials/navbar.ejs %>
<section id="about" class="page-section">
    <div class="container">
        <div class="row">
            
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="img/teammembers.png" alt="">
                    </div>
                    <h4>Nimil P.Harischandra</h4>
                    <div class="line-dec"></div>
                    <p>Managing Director</p>
                    <p>wasantha.np@huasi.lk</p>
                    <p>+94 777 262593</p>
                   
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="img/teammembers.png" alt="">
                    </div>
                    <h4>Shashika Liyanage</h4>
                    <div class="line-dec"></div>
                    <p>Managing Director</p>
                    <p>shasika.liyanage@huasi.lk</p>
                    <p>+94 719 332562</p>
                    
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="images/9.png" alt="">
                    </div>
                    <h4>Ishani Amarasinghe </h4>
                    <div class="line-dec"></div>
                    <p>Managing  Director</p>
                    <p>ishani.amarasinghe@huasi.lk</p>
                    <p>+94 719 332562</p>
                   
                </div>
            </div>
        </div>
    </div>
</section>
<!--footer-->
<% include partials/footer.ejs %>